<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cp.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/proj_icon_64x64"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActv"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceListActv" android:screenOrientation="portrait"></activity>
        <activity android:name=".StreamActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".LogActv" android:screenOrientation="portrait"></activity>
        <activity android:name=".ShowLogActv" android:screenOrientation="portrait"></activity>
        <activity android:name=".CanvasActv" android:screenOrientation="portrait"></activity>
        <activity android:name=".TopolActv" android:screenOrientation="portrait"></activity>
        
        
        
    </application>

</manifest>
